body {
    background-color: #1C221F;
    min-height: 100vh;
    overflow-x: hidden;
}

.bg-color-green {
    background-color: #04E824;
}

.dropdown {
    border-color: black;
}

.backdrop {
    background: #04E824;
    background-size: contain;
    margin: auto;
    margin-top: 40px;
    width: 50vw;

}

.set-margin {
    margin-top: 20vh;
}
.text-dark-green{
    color: rgb(5, 67, 6); 
}
.text {

    font: bolder 10vw "Alfa Slab One";
    text-align: center;
    margin: 0;
    border: 4px solid;
}

.lighten {
    color: rgb(5, 67, 6);
}

.link-button{
    text-decoration: none;
}